body {
  font-family: Arial;
  text-align: center;
  background: black;
  color: white;
  margin: 0;
  padding: 20px;
}

h1 {
  margin-bottom: 20px;
}
.controls {
  margin-bottom: 20px;
}

input, button {
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  border: none;
}
button:hover {
  opacity: 0.8;
  cursor: pointer;
}
#result {
  margin-top: 20px;
}
.card {
  border: 1px solid gray;
  padding: 15px;
  margin: 15px auto;
  width: 80%;
  border-radius: 10px;
  background: #111;
}
.card img {
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
  margin-top: 10px;
}
#loading {
  display: none;
  font-size: 18px;
  margin-top: 20px;
}
@media (max-width: 600px) {
  h1 {
    font-size: 20px;
  }

  .card {
    width: 95%;
  }
}